# Alpaca (paper trading)
ALPACA_API_KEY=PKBOWG6ZG4BFSJC22FCQ4SMRFM
ALPACA_API_SECRET=AjurYu7mKAvr8KeZvxL3aJMvAdkB7ey55pKUD7LyGtd4
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
ALPACA_DATA_URL=https://data.alpaca.markets

# Supabase Postgres (direct connection)
DATABASE_URL=postgresql://postgres:P@zzw00rd55337!@db.zvetxrketyvwcnfcgdwi.supabase.co:5432/postgres

# App
PORT=3001
NODE_ENV=development
